* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  width: 100%;
}
html {
  overflow-x: hidden;
}

.dev-btn {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #e8e8e8;
  z-index: 1;
  background: #212121;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.dev-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #e8e8e8;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
  transition: all 250ms;
}

.dev-btn:hover {
  color: #212121;
}

.dev-btn:hover::before {
  width: 100%;
}
